
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading_style {
  padding : 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards
{
  width:100px;
  height: 100px;
}

.card {
  margin: 3%;
  justify-content: center;
  margin-left: 14%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: #efe042;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
  overflow: hidden;
  border-color: #998f8f;
  border-width: 1px;
  padding: 1%;
}

.card_img{
  width: 9%;
  height: 10px;
}

.card_info {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding : 16px 24px 24px 24px;
  background-color: #fff;
  border-radius: 50%;
}

.card_category{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #ffffff;
}

.card-rating {
  margin-bottom: 8px;
  color: #888;
}

.card-price {
font-size: 1.1rem;
font-weight: bold;
margin-bottom: 12px;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  text-transform: capitalize;
  
}

.card-content {
  margin-left: 5%;
  font-size: 12px;
}


.add-to-cart-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  margin-bottom: 5%;
  margin-left: 12%;
  transition: background-color 0.3s ease;
}
.add-to-cart-button:hover {
background-color: #ee7b17;
}
.rating {
display: inline-block;
font-size: 1.5rem;
}

.star {
color: #ffc107;
font-size: 1.2rem;
}

.filled {
color: #ffc107;
}

.half-filled {
position: relative;
display: inline-block;
color: #ffc107;
overflow: hidden;
width: 1.2em;
}

.button{
  padding : 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-list2{
  background-color: palevioletred;
}

.box {
  display: block;
  background-color: transparent;
  border: #bd9999;
  height: max-content;
  width: -webkit-fill-available;
  border-style: groove;
  padding: 2%;
}

.box:empty {
  display: none;
}

.cart-item-image {
  width: 100px; 
  height: 100px;
  object-fit: cover; 
  border-radius: 8px; 
  border: 1px solid #ccc; 
}


@media (max-width: 1100px) {
  .image {
    display: none; 
  }
}



.btnnum{
  z-index: 99;
}

.totalcart {
  position: absolute;
  top: -8px; /* Adjust the top position to move it upwards */
  right: -8px; /* Adjust the right position to move it towards the right */
  min-width: 20px; /* Set a minimum width */
  height: 20px; /* Set a height */
  padding: 0 6px; /* Padding for internal spacing */
  font-size: 12px; /* Adjust font size */
  color: white; /* Text color */
  background-color: black; /* Background color */
  border-radius: 50%; /* Rounded shape */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-gradient-to-r {
  position: relative;
  display: inline-block; /* Ensures the container wraps around its content */
}

/* .search-results{
  width: 300px;
  height: max-content;
  font-style: italic;
  text-align: center;
  display: grid;
  justify-content: center;
  border: #000000;
}


.searched-details {
  width: 300px;
  height: 40px;
  margin: 0 auto; 
  font-size: 1.5rem; 
  color: rgb(9, 7, 7); 
  text-align: center; 

}

.searched-card {
  width: 300px;
  display: grid;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(20, 20, 19); 
  background-color: rgb(242, 251, 119);
  padding: 1%; 

}

.main-contsiners{
  width: 50%;
  height: 50%;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
} */

.search-container {
  position: absolute; 
  display: flex;

}

.search-results {
  background-color: #ffed4a; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  position: absolute;
  top: 100%; 
  left: 0;
  z-index: 30; 
  width: 200px; 
}

.search-results h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.search-results ul {
  list-style-type: none; 
  padding: 0;
}

.search-results ul li {
  cursor: pointer;
  padding: 5px 0;
}

.search-results ul li:hover {
  background-color: #fff; 
}